{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .home-page-cover::before {
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(50%);
        content:"";
        left:0;
        top:0;
        width: 100%;
        height:400px;
        background-size:cover;
        z-index:1;
        filter: brightness(50%);
        background-image: url("{% static 'images/sgrada.jpg' %}");
        position: absolute;

    }
    .home-page-cover{
        height: 400px;
        width: 100%;
        position: relative;
    }
    .home-page-title {
        /* width: 50%; */
        text-align: center;
        margin: auto;
        top: 30%;
        color: #D1D99A;
        font-size: 3em;
    }
    .home-page-cover .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        top: 80%;
    }
    .home-page-cover h1 {
        color: #012840;
        background: #D1D99A;
        width: 50%;
        text-align: center;
        margin: auto;
        padding: 20px;
        
    }
    .home-page-cover p {
        text-align: center;
    }
    .home-page-cover a {
        text-decoration: none;
        color: #D1D99A;
    }
    .home-page-cover a:hover {
        text-decoration: none;
        color: #788C64;
    }
</style>
<div class="home-page-cover">
    <div class="container">
        <p><a href="/">За нас > </a><a href="/budget">Бюджет</a></p>
        <h1>Бюджет</h1>
    </div>
</div>

<div class="container">
    <div id="accordion" style="margin-top: 4em;">
        {% for year in years_list %}
        <div class="card">
          <div class="card-header" id="heading-{{ forloop.counter }}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
                <i class="fas fa-paperclip"></i> Бюджет - {{ year }}
              </button>
            </h5>
          </div>
          <div id="collapse-{{ forloop.counter }}" class="collapse" aria-labelledby="heading-{{ forloop.counter }}" data-parent="#accordion">
            <div class="card-body">
                {% for budget in budgets %}
                    {% if budget.year == year %}
                    <p><a href="#"><i class="fas fa-genderless "></i> {{ budget.title }}</a></p>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}

    </div>
</div>



{% endblock %}