{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .home-page-cover::before {

        background-position: bottom;
        background-repeat: no-repeat;
        filter: brightness(50%);
        content:"";
        left:0;
        top:0;
        width: 100%;
        height:600px;
        background-size:cover;
        z-index:1;
        filter: brightness(50%);
        background-image: url("{% static 'images/sgrada.jpg' %}");
        position: absolute;

    }
    .home-page-cover{
        height: 600px;
        width: 100%;
        position: relative;
    }
    .home-page-title {
        /* width: 50%; */
        text-align: center;
        margin: auto;
        top: 30%;
        color: #D1D99A;
        font-size: 3em;
    }
</style>
<div class="home-page-cover">
    <div class="container" style="position: relative; top: 30%;z-index: 2;">
        <h1 class="home-page-title">Профилирана Гимназия с Преподаване на Чужди Езици "Екзарх Йосиф"</h1>
        <h1 class="home-page-title">гр. Разград</h1>
    </div>
</div>
<div class="container">
    <div class="home-first-section">
        <div class="home-card">
            <div class="home-card-icon">
                <i class="fas fa-book-open fa-3x"></i>
            </div>
            <h4>Първа езико в България на НВО по БЕЛ за десети клас! Поздравления! Пожелаваме ви нови успехи! Ангел Митев</h4>
            <a href="#">Виж</a>
    
        </div>
        <div class="home-card">
            <div class="home-card-icon">
                <i class="fas fa-pencil-alt fa-3x"></i>
            </div>
            <h4>Първа езикова е сред десетте най-силно представили се училища в България на НВО по БЕЛ за десети клас! Поздравления! Пожелаваме ви нови успехи! Ангел Митев</h4>
            <a href="#">Виж</a>
    
        </div>
        <div class="home-card">
            <div class="home-card-icon">
                <i class="fas fa-globe fa-3x"></i>
            </div>
            <h4>Първа езикова е сред десетте най-силно представили се училища в България на НВО по БЕЛ ! Пожелаваме ви нови успехи! Ангел Митев</h4>
            <a href="#">Виж</a>
        </div>
    </div>
</div>
<h1 class="messages-title">Съобщения</h1>
<div class="messages-wrapper">
    <div class="messages-container" style="width: 80%; margin: auto;">
        <div class="owl-carousel owl-theme">
            {% for article in articles %}
            <div class="item messages-card">
                <div class="homepage-message">
                    <h3 class="homepage-article-title">{{article.title}}</h3>
                    <p>Дата: {{article.created_at|date:"j F y" }}</p>
                    {% if article.important %}
                    <p class="is-message-important">Важно</p>
                    {% else %}
                    {% endif %}
                    <a href="#">Прочети</a>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
<h1 class="news-title">Новини</h1>
<div class="container">
    <div class="news-wrapper">
        {% for article in articles %}
        <div class="news-article">
            <h3 class="news-article-title">{{article.title}}</h3>
            <p>{{article.content}}</p>
            <p class="news-date">Дата: {{article.created_at|date:"j F y" }}</span>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:40,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:4,
            nav:false,
            loop:false,
            autoplay: true,
            dots: true,
            slideBy:1,
            rewind: true
        }
    }
})
</script>
{% endblock %}