{% extends 'base.html' %}


{% block content %}
<div>
    <h1 style="text-align: center;">Message Page</h1>
</div>
<div class="container">
    <div class="news-wrapper">
        {% for article in message%}
        <div class="news-article">
            <h3 class="news-article-title">{{article.title}}</h3>
            <p>{{article.content}}</p>
            <p class="news-date">Дата: {{article.created_at|date:"j F y" }}</span>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}