{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="login-form-wrapper">
        <div class="login-logo" style="background-image: url('{% static 'images/pgpche_logo-removebg-preview.png' %}');"></div>
        <div class="login-form">
            <h3 style="text-align: center; padding-top: 1em;">Регистрация</h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <button class="btn btn-success" type="submit">Напред</button>
            </form>
            <div class="help-login">
                <a href="/login">Влизане</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}