{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .home-page-cover::before {
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(50%);
        content:"";
        left:0;
        top:0;
        width: 100%;
        height:400px;
        background-size:cover;
        z-index:1;
        filter: brightness(50%);
        background-image: url("{% static 'images/sgrada.jpg' %}");
        position: absolute;

    }
    .home-page-cover{
        height: 400px;
        width: 100%;
        position: relative;
    }
    .home-page-title {
        /* width: 50%; */
        text-align: center;
        margin: auto;
        top: 30%;
        color: #D1D99A;
        font-size: 3em;
    }
    .home-page-cover .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        top: 80%;
    }
    .home-page-cover h1 {
        color: #012840;
        background: #D1D99A;
        width: 50%;
        text-align: center;
        margin: auto;
        padding: 20px;
        
    }
    .home-page-cover p {
        text-align: center;
    }
    .home-page-cover a {
        text-decoration: none;
        color: #D1D99A;
    }
    .home-page-cover a:hover {
        text-decoration: none;
        color: #788C64;
    }
</style>
<div class="home-page-cover">
    <div class="container">
        <p><a href="/">За нас > </a><a href="/schedule">Седмична Програма</a></p>
        <h1>Седмична Програма</h1>
    </div>
</div>

<div>
    <h1 style="text-align: center;">Syllabus Page</h1>
</div>
{% endblock %}