{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h1 style="text-align: center;">About Page</h1>
    <div class="container">
        <h4>Teachers</h4>
        <div class="teacher-filter-wrapper">
            <button class="btn btn-success ms-2 me-2">Ръководство</button>
            <button class="btn btn-secondary ms-2 me-2">Чужди езици</button>
            <button class="btn btn-primary ms-2 me-2">Природни науки</button>
            <button class="btn btn-warning ms-2 me-2">Обществени науки</button>

        </div>
        <div class="teacher-cards-wrapper row row-cols-3">
            {% for teacher in teachers %}
                <div class="teacher-card col">
                    <div class="teacher-photo" style="background-image: url('{% static 'images/pgpche_logo.jpg' %}');"></div>
                    <div class="teacher-info">
                        <p class="teacher-card-text">Име Презиме Фамилия</p>
                        <hr>
                        <p>{{ teacher.name }}</p>
                        <p class="teacher-card-text">Длъжност</p>
                        <hr>
                        <p>{{ teacher.position }}</p>
                        <p class="teacher-card-text">Преподава по:</p>
                        <hr>
                        <p>{{ teacher.subject }}</p>
                        <p class="teacher-card-text">Email</p>
                        <hr>
                        <p>mail@abv.bg</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}