{% load static %}

<div class="footer-wrapper">
    <p style="text-align: center; padding-top: 2em; text-transform: uppercase;">Профилирана Гимназия с Преподаване на Чужди Езици "Екзарх Йосиф" - гр.Разград</p>
    <div class="container footer-container">
        <div class="footer-left">
            <p style="position: relative;right: -50px;text-align: end;">История</p>
            <p style="position: relative;right: -25px;text-align: end;">Учители</p>
            <p style="text-align: end;position: relative;right: -15px;">Пъбликации</p>
            <p style="text-align: end;position: relative;right: -25px;">Контакти</p>
            <p style="text-align: end;position: relative;right: -50px;"> Прием</p>
        </div>
        <div class="footer-center" style="background-image: url('{% static 'images/pgpche_logo-removebg-preview.png' %}');"></div>
        <div class="footer-right">
            <p style="position: relative;left: -50px;">Графици </p>
            <p style="position: relative;left: -25px;">Лични данни</p>
            <p style="position: relative;left: -15px;">Настоятелство</p>
            <p style="position: relative;left: -25px;">Състезания </p>
            <p style="position: relative;left: -50px;">Бюджет</p>
        </div>
    </div>
    <div class="second-footer">
        <p>ПГПЧЕ „Екзарх Йосиф“</p>
        <p>7200 гр. Разград</p>
        <p>ул. Н. Й. Вапцаров №10</p>
        <p><a href="mailto:gpche_razgrad@abv.bg">gpche_razgrad@abv.bg</a></p>
    </div>
    <hr style="margin-bottom: 0;">
    <div class="footer-all-rights">
        <p>All rights reserved  &#169; PGPCHE RAZGRAD 2021</p>
    </div>
</div>