{% load static %}
<div class="nav-wrapper">
    <div class="container nav-container">
        <div class="nav-logo">
            <a href="/" style="display: flex; text-decoration: none;">
                <div class="logo" style="background: url('{% static 'images/pgpche_logo-removebg-preview.png' %}'); background-size:contain;"></div>
                <div class="nav-logo-text">
                    <div>ПГПЧЕ</div>
                    <div class="nav-logo-title">"Екзарх Йосиф"</div>
                </div>
            </a>
        </div>
        <ul class="nav">
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        За нас
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/publications">Публикации</a></li>
                        <li><a class="dropdown-item" href="/teachers">Учители</a></li>
                        <li><a class="dropdown-item" href="/history">История</a></li>
                    </ul>
                </div>
               
            </li>
            <li>
                <a href="/schedules">Schedules</a>
            </li>
            <li>
                <a href="/documents">Documents</a>
            </li>
            <li>
                <a href="/competitions">Competitions</a>
            </li>
            <li>
                <a href="/exams">Exams</a>
            </li>
            <li>
                <a href="/admission">Аdmission</a>
            </li>
            <li>
                <a href="/diary">School diary</a>
            </li>
            <li>
                <a href="/contacts">Contacts</a>
            </li>
            <li>
                <a href="/more">More..</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
</div>