{% load static %}
<div class="nav-wrapper">
    <div class="container nav-container">
        <div class="nav-logo">
            <a href="/" style="display: flex; text-decoration: none;">
                <div class="logo" style="background: url('{% static 'images/pgpche_logo-removebg-preview.png' %}'); background-size:contain;"></div>
                <div class="nav-logo-text">
                    <div>ПГПЧЕ</div>
                    <div>"Екзарх Йосиф"</div>
                </div>
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/schedules">Schedules</a>
            </li>
            <li>
                <a href="/documents">Documents</a>
            </li>
            <li>
                <a href="/competitions">Competitions</a>
            </li>
            <li>
                <a href="/exams">Exams</a>
            </li>
            <li>
                <a href="/admission">Аdmission</a>
            </li>
            <li>
                <a href="/diary">School diary</a>
            </li>
            <li>
                <a href="/contacts">Contacts</a>
            </li>
            <li>
                <a href="/more">More..</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
</div>