{% load static %}
<div class="nav-wrapper">
    <div class="upper-header-wrapper">
        <div class="container">
            <div class="upper-header">
                <div class="upper-header-left">
                    <p style="padding: 5px;"><i class="fas fa-phone-alt"></i> +359879835888</p>
                    <a style="padding: 5px;  text-decoration: none; color: inherit;" href="mailto:gpche_razgrad@abv.bg"><i class="fas fa-envelope-open-text"></i> gpche_razgrad@abv.bg</a>
                </div>
                <p style="margin-bottom: 0; font-size: 13px; padding: 5px;">Профилирана Гимназия с Преподаване на Чужди Езици "Екзарх Йосиф" - гр.Разград</p>
                <div class="upper-header-right">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fas fa-users"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container nav-container">
        <div class="nav-logo">
            <a href="/" style="display: flex; text-decoration: none;">
                <div class="logo" style="background: url('{% static 'images/pgpche_logo-removebg-preview.png' %}'); background-size:contain;"></div>
                <div class="nav-logo-text">
                    <div>ПГПЧЕ</div>
                    <div class="nav-logo-title">"Екзарх Йосиф"</div>
                </div>
            </a>
        </div>
        <ul class="nav">
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      За нас
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/publications">Публикации</a>
                        <a class="dropdown-item" href="/teachers">Учители</a>
                        <a class="dropdown-item" href="/history">История</a>
                        <a class="dropdown-item" href="/budget">Бюджет</a>
                        <a class="dropdown-item" href="/nastoiatelstvo">Настоятелство</a>
                    </div>
                  </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Графици
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/syllabus">Седмична Програма</a>
                        <a class="dropdown-item" href="/schedule">Разписание на часовете</a>
                        <a class="dropdown-item" href="/class-tests">Класни Работи</a>
                        <a class="dropdown-item" href="/#">Родителски срещи</a>
                        <a class="dropdown-item" href="/#">Учебници</a>
                        <a class="dropdown-item" href="/#">Задължитела литература</a>
                    </div>
                  </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Документи
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/#">Годишен план за дейността</a>
                        <a class="dropdown-item" href="/#">Самостоятелна форма на обучение</a>
                        <a class="dropdown-item" href="/#">Защита на личните данни и ЗДОИ</a>
                    </div>
                  </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Състезания
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/#">Олимпиади</a>
                        <a class="dropdown-item" href="/#">Конкурси</a>
                    </div>
                  </div>
            </li>
            <li>
                <a href="/admission">Прием</a>
            </li>

            <li>
                <a href="/diary">еДневник</a>
            </li>
            <li>
                <a href="/contacts">Контакти</a>
            </li>
            {% if user.is_authenticated %}
            
            <li>
                <a href="/logout"><i class="fas fa-user"> </i> Изход</a>
            </li>
            {% else %}
            <li>
                <a href="/login"><i class="fas fa-user"> </i> Вход</a>
            </li>
            {% endif %}
            
        </ul>
    </div>
</div>